<div class="content-wrapper">
          <div class="row">

            <div class="twelve columns">
                  <hgroup>
                  <h1>NUS Entrepreneurship Society</h1>
                  <h2>Entrepreneurship is in our blood.</h2>
                  <img src="assets/nes.jpg" class="image-border"/>
                </hgroup>
                  <p>
                    The NUS Entrepreneurship Society (NES) was founded in July 1992 and has since grown to become one of the largest societies in NUS today.
                  </p>

                  <p>
                    In essence, the society is a hub for entrepreneurship with an abundance of learning and networking opportunities. We regularly feature prominent speakers at our events, bringing our members close to the business community. We aim to foster the spirit of entrepreneurship with our growing network of alumni through the sharing of expertise and knowledge. Recognising the importance of developing internal talents, we also provide internal member training on the basics of business, leadership and other skills.
                  </p>

                  <p>
                    The society has grown much over the years. Today, the society hosts the most extensive national business plan competitions as well as many other entrepreneurship-related events, overseas exchanges and expeditions.
                  </p>
            </div>
          </div>
        </div>