<div class="content-wrapper">
          <div class="row">
            <div class="twelve columns">
              <hgroup>
                <a href="http://aseanpreneurs.org/">
              <h1>ASEANpreneurs</h1>
            </a>
              <h2>Singapore and beyond.</h2>
            </hgroup>
            </div>
          </div>
          <div class="row">
            <div class="eight columns">
              <img src="assets/aseanpreneur.png" class="right"/>
              <p>
                <b>Expand Your Market – Connect with Youths and Incubators across South East Asia</b><br/>
                <i>It is never too early to get started. If you are interested in entrepreneurship, <b>THIS</b> is the place
                to start.</i>
              </p>

              <p>
                <b>What We Did</b><br/>
                <a href="http://aseanpreneurs.org/">ASEANpreneurs</a> had a <b>fantastic</b> run last term. The southeast Asia---focused wing organized the biggest ever region---wide business idea competition specific to social entrepreneurship with over <b>400 applicants!</b><br/>
                We also held the most successful regional entrepreneurship conference in Singapore with <b>70 delegates</b> from not just ASEAN countries but the likes of South Africa as well.
              </p>

              <p>
                <b>What You Get</b><br/>
                What sets us apart is our true ground---up start-up styled culture. AP is your start-up, with
                a brand to build. We relish multiple tries, multiple failures, and eventual huge success.
                No red---tape, no bureaucracy, just some really great work. If you’re interested in eventually
                Starting up then you’d be considering expansion beyond Singapore. At AP, you get to build
                connections in the closest regions to Singapore, and even work on projects with <b>over 4000
                like---minded active university students. Plus, you’ll be working closely on region---wide projects
                with a handpicked international team thoroughly screened over two and a half months.</b> The
                learning curve is amazing – Discuss plans of collaboration with business leaders, get a free reign
                on reshaping the online brand from scratch, and organize and take part in regional programmes.
                Even visit Europe with fellow Global Projects members!
              </p>

              <p>
                <b>What We’re Planning Ahead</b><br/>
                This year AP is set to grow massively with the <b>opening of international country chapters in
                Indonesia and the Philippines</b> that supplement the functioning of its Singapore counterpart by
                hosting local initiatives in their host countries. This increases our visibility and impact many
                fold. We’re simultaneously <b>expanding our connections with top business houses</b> like Autodesk
                and with regional incubators to make events like the ASEANpreneurs Idea Canvas bigger and
                more impactful. The one little biggie (yeah we deal with oxymorons) in our plate for next year is
                <b>ASEAN---wide internships with start-ups.</b> ASEANpreneurs is poised perfectly to screen and match
                the highest quality of interns across the region with the most exciting of start- -ups. That’s our
                pet project for the incoming recruits, on top of AYLE, AIC and the country chapters. It’s a big
                year ahead, and a very exciting time to join.
              </p>

              <p>
                <b>To join this amazing team and the awesome work we do:</b> Do visit our site at <a href="http://www.aseanpreneurs.org">www.aseanpreneurs.org</a> to find out more, or send us your queries and feedback at aseanpreneurs@nes.org.sg. We’d love to hear from you! <br/><br/>
                ASEANpreneurs, <br/>
                NUS Entrepreneurship Society (NES), <br/>
                 14A Prince George's Park, Singapore 118412 <br/> 
                Email: aseanpreneurs@nes.org.sg | Website: <a href="http://www.aseanpreneurs.org">www.aseanpreneurs.org</a> <br/> 
              </p>
              <div class="slideshow">
              <script async class="speakerdeck-embed" data-id="502d05dd3191ce0002037949" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            </div>
            <div class="four columns">
              <div class="fb-like-box" data-href="http://www.facebook.com/aseanpreneurs" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div><br/><br/>
              <a href="assets/ap1big.jpg"><img src="assets/ap1small.jpg" class="image-border"/></a><br/><br/><br/>
              <a href="assets/ap2big.JPG"><img src="assets/ap2small.JPG" class="image-border"/></a><br/><br/><br/>
              <a href="assets/ap3big.jpg"><img src="assets/ap3small.jpg" class="image-border"/></a>
            </div>
          </div>

      </div>