<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <hgroup>
        <a href="http://bizasia.nes.org.sg/">
          <h1>BizAsia</h1>
        </a>
      </hgroup>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <img src="assets/bizasia.png" class="right"/>

      <p>
        <a href="http://bizasia.nes.org.sg/">BizAsia</a> started as a bilateral student exchange program organized jointly by the NUS Entrepreneurship Society (NES) and the Peking University Student Leadership Network (PKU-SLN). It has been 6 years since BizAsia entrepreneurial program is launched and we have established partnership with Peking University, National Taiwan University, Tokyo University, Zhejiang University and Fudan University. With time, BizAsia will strive to be the main meeting point for Asian entrepreneurs and the melting pot for Asian entrepreneurship.
      </p>

      <p>
        Since its inception in 2005, BizAsia has evolved to be not just an exchange, but an exciting platform for young and passionate individuals to come together for a meaningful cause of promoting entrepreneurship beyond geographical boundaries.
      </p>

      <p>
        The exchange programme consisted of 2 parts, the outgoing programme in December to our partner universities in respective countries and incoming programme in January in Singapore. Students embark on a one-week program in the country of each host university. Each host university will organise interactive panel discussions with CEOs of local start-up companies. Following which are visits to successful local enterprises, culminating in networking sessions with local leaders and businessmen. While delegates are being exposed to various business cultures through first-hand experience and interaction with local entrepreneurs in various countries in Asia, they have also sharpened their networking and management skills, and developed everlasting friendship with like-minded peers.
      </p>

      <p>
        This year, BizAsia will be moving towards a multilateral exchange model and aiming to partner with other universities such as University of Hong Kong and Korea Advanced Institute of Science and Technology (KAIST).
      </p>

      <p>Visit <a href="http://bizasia.nes.org.sg/">bizasia.nes.org.sg</a> for more information</p>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/F2jphQYQ4q8" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class="four columns right">
      <div class="fb-like-box" data-href="http://www.facebook.com/nesbizasia" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div><br/><br/>
        <a href="assets/bizasia1big.jpg"><img src="assets/bizasia1small.jpg" class="image-border"/></a><br/><br/><br/>
        <a href="assets/bizasia2big.jpg"><img src="assets/bizasia2small.jpg" class="image-border"/></a>
    </div>
  </div>

</div>