<div class="content-wrapper">
          <div class="row">
            <div class="twelve columns">
              <hgroup>
              <h1>Get in touch</h1>
              <h2 class="sub">We would love to hear from you!</h2>
            </hgroup>
            </div>
          </div>
            <div class="row">
              <div class="two columns">
                <img src="assets/people/minghao.png" class="image-border"/>
              </div>
              <div class="four columns contact-detail">
                <p>
                  <b>Wong Ming Hao</b>
                <br/>
                President
                <br/>
                <i>wong.minghao [at] nes.org.sg</i>
              </p>
              </div>
              <div class="two columns">
                <img class="image-border" src="assets/people/layting.png"/>
              </div>
              <div class="four columns contact-detail">
                <p>
                <b>Lim Lay Ting</b>
                <br/>
                Vice-President (CORE)
                <br/>
                <i>lim.layting [at] nes.org.sg</i>
              </p>
              </div>
            </div>
            <br/><br/><br/><br/>
            <div class="row">
              <div class="two columns">
                <img src="assets/people/dhruv.jpg" class="image-border"/>
              </div>
              <div class="four columns contact-detail">
                <p>
                  <b>Dhruv K Jaura</b>
                <br/>
                Vice-President (Global Projects)
                <br/>
                <i>dhruv [at] nes.org.sg</i>
              </p>
              </div>
            <div class="row">
              <div class="two columns">
                <img src="assets/people/alex.jpeg" class="image-border"/>
              </div>
              <div class="four columns contact-detail">
                <p>
                  <b>Alex Tan</b>
                <br/>
                Lead, Start-Up@Singapore
                <br/>
                <i>alextan [at] startup.org.sg</i>
              </p>
              </div>
            </div>
          </div>
          <br/><br/>
          <hgroup>
            <h2>Alternatively, use the form below.</h2>
          </hgroup>
          <div class="row">
            <div class="twelve columns contact-form">
              <div id="wufoo-z7x3p9">
Fill out my <a href="http://pookveeraya.wufoo.com/forms/z7x3p9">online form</a>.
</div>
<script type="text/javascript">var z7x3p9;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'pookveeraya', 
'formHash':'z7x3p9', 
'autoResize':true,
'height':'495',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
          </div>
        </div>
      </div>