<div class="core-header">
          <div class="row">
            <div class="seven columns">
              <div class="core-header-text">
                <h1>Hi. We are CORE.</h1>
                <h3>We spread the love for entrepreneurship among NUS students.</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="core-row">
          <div class="row">
            <div class="five columns">
              <img src="assets/core/event.JPG" class="image-border" title="NES Ignite"/>
            </div>
            <div class="seven columns">
              <h3>Events</h3>
              <p>
                We come up with initiatives that help to expose our audience to entrepreneurship. Here, we challenge you to set your minds free and think of creative ways to do so! We equip budding entrepreneurs with essential skills through workshops, seminars, hand-on activities and networking sessions.
              </p>
            </div>
          </div>
        </div>

        <div class="core-row gray">
          <div class="row">
            <div class="seven columns">
              <h3>LINK (Biz Development)</h3>
              <p>
                Being the practical arm of NES, we get first-hand information on resources such as mentors and funding and pass them onto our participants. It aims to privde platforms and resources for budding entrepreneurs to explore, develop and execute ideas, through mentorships, networking, workshop and consultation.
              </p>
              <p></p>
            </div>
            <div class="five columns">
              <img src="assets/core/link.jpg" class="image-border" />
            </div>
          </div>
        </div>

        <div class="core-row">
          <div class="row">
            <div class="five columns">
              <img src="assets/core/mit.png" class="image-border"/>
            </div>
            <div class="seven columns">
              <h3>Marketing & IT</h3>
              <p>
                At MIT, we make use of traditional and advanced media to create dynamic and vibrant publicity materials. We undertake projects that frequently take us into the realms of Technopreneurship. We bring you our design skills, coding experience and passion. (and yes, this website.)
              </p>
            </div>
          </div>
        </div>

        <div class="core-row gray">
          <div class="row">
            <div class="seven columns">
              <h3>Talent Management</h3>
              <p>
                The Talent Management department is in charge of designing a comprehensive talent development and aptitude enrichment program that aims to help members develop their skills to keep up with today's hyper-competitive environment. We also organize both formal and informal, serious and fun events and gatherings, so that members learn the importance of a united and motivated work team.  Join us for a real taste of what human capital management is like in organizations!
              </p>
            </div>
            <div class="five columns">
              <img src="assets/core/tm.jpg" class="image-border" title="Silicon Valley Trip organized by TM"/>
            </div>
          </div>
        </div>

        <div class="core-row">
          <div class="row">
            <div class="five columns">
              <img src="assets/core/funding.jpg" class="image-border"/>
            </div>
            <div class="seven columns">
              <h3>Sponsorship</h3>
              <p>
                We provide essential ingredient for the society to function - MONEY! With sponsorship pitches among the hardest to pitch, you will master the way to charm sponsors, understand value propositions and get an "in" with these vital contacts!
              </p>
            </div>
          </div>
        </div>