<div class="content-wrapper">
          <div class="row">
            <div class="twelve columns">
             <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=jvueotprauiebldept2lrb36t0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Asia%2FSingapore" style=" border-width:0 " width="980" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>