<div class="content-wrapper">
          <div class="row">
            <div class="twelve columns">
              <hgroup>
              <h1>Global Projects</h1>
              <h2>Singapore and beyond.</h2>
            </hgroup>
            </div>
          </div>
          <div class="row">
            <div class="eight columns">
                <h4><a href="http://aseanpreneurs.org/">
ASEANPreneurs</a></h4>
              <img src="assets/aseanpreneur.png" class="right"/>

              <p>
                <b>Expand Your Market – Connect with Youths and Incubators across South East Asia</b><br/>
                <i>It is never too early to get started. If you are interested in entrepreneurship, <b>THIS</b> is the place
                to start.</i>
              </p>

              <p>
                <b>What We Did</b><br/>
                ASEANpreneurs had a <b>fantastic</b> run last term. The southeast Asia---focused wing organized the biggest ever region---wide business idea competition specific to social entrepreneurship with over <b>400 applicants!</b><br/>
                We also held the most successful regional entrepreneurship conference in Singapore with <b>70 delegates</b> from not just ASEAN countries but the likes of South Africa as well.
              </p>

              <p>
                <b>What You Get</b><br/>
                What sets us apart is our true ground---up start-up styled culture. AP is your start-up, with
                a brand to build. We relish multiple tries, multiple failures, and eventual huge success.
                No red---tape, no bureaucracy, just some really great work. If you’re interested in eventually
                Starting up then you’d be considering expansion beyond Singapore. At AP, you get to build
                connections in the closest regions to Singapore, and even work on projects with <b>over 4000
                like---minded active university students. Plus, you’ll be working closely on region---wide projects
                with a handpicked international team thoroughly screened over two and a half months.</b> The
                learning curve is amazing – Discuss plans of collaboration with business leaders, get a free reign
                on reshaping the online brand from scratch, and organize and take part in regional programmes.
                Even visit Europe with fellow Global Projects members!
              </p>

              <p>
                <b>What We’re Planning Ahead</b><br/>
                This year AP is set to grow massively with the <b>opening of international country chapters in
                Indonesia and the Philippines</b> that supplement the functioning of its Singapore counterpart by
                hosting local initiatives in their host countries. This increases our visibility and impact many
                fold. We’re simultaneously <b>expanding our connections with top business houses</b> like Autodesk
                and with regional incubators to make events like the ASEANpreneurs Idea Canvas bigger and
                more impactful. The one little biggie (yeah we deal with oxymorons) in our plate for next year is
                <b>ASEAN---wide internships with start-ups.</b> ASEANpreneurs is poised perfectly to screen and match
                the highest quality of interns across the region with the most exciting of start- -ups. That’s our
                pet project for the incoming recruits, on top of AYLE, AIC and the country chapters. It’s a big
                year ahead, and a very exciting time to join.
              </p>

              <p>
                <b>To join this amazing team and the awesome work we do:</b> Do visit our site at <a href="http://www.aseanpreneurs.org">www.aseanpreneurs.org</a> to find out more, or send us your queries and feedback at aseanpreneurs@nes.org.sg. We’d love to hear from you! <br/><br/>
                ASEANpreneurs, <br/>
                NUS Entrepreneurship Society (NES), <br/>
                 14A Prince George's Park, Singapore 118412 <br/> 
                Email: aseanpreneurs@nes.org.sg | Website: <a href="http://www.aseanpreneurs.org">www.aseanpreneurs.org</a> <br/> 
              </p>
              <div class="slideshow">
              <script async class="speakerdeck-embed" data-id="502d05dd3191ce0002037949" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            </div>

            </div>
            <div class="four columns">
              <div class="fb-like-box" data-href="http://www.facebook.com/aseanpreneurs" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div><br/><br/>
              <a href="assets/ap1big.jpg"><img src="assets/ap1small.jpg" class="image-border"/></a><br/><br/><br/>
              <a href="assets/ap2big.JPG"><img src="assets/ap2small.JPG" class="image-border"/></a><br/><br/><br/>
              <a href="assets/ap3big.jpg"><img src="assets/ap3small.jpg" class="image-border"/></a>
            </div>
          </div>
<br/>
        <div class="row">
          <div class="eight columns">
            <h4><a href="http://bizasia.nes.org.sg/">BizAsia</a></h4>
            <img src="assets/bizasia.png" class="right"/>

            <p>
              BizAsia started as a bilateral student exchange program organized jointly by the NUS Entrepreneurship Society (NES) and the Peking University Student Leadership Network (PKU-SLN). It has been 6 years since BizAsia entrepreneurial program is launched and we have established partnership with Peking University, National Taiwan University, Tokyo University, Zhejiang University and Fudan University. With time, BizAsia will strive to be the main meeting point for Asian entrepreneurs and the melting pot for Asian entrepreneurship.
            </p>

            <p>
              Since its inception in 2005, BizAsia has evolved to be not just an exchange, but an exciting platform for young and passionate individuals to come together for a meaningful cause of promoting entrepreneurship beyond geographical boundaries.
            </p>

            <p>
              The exchange programme consisted of 2 parts, the outgoing programme in December to our partner universities in respective countries and incoming programme in January in Singapore. Students embark on a one-week program in the country of each host university. Each host university will organise interactive panel discussions with CEOs of local start-up companies. Following which are visits to successful local enterprises, culminating in networking sessions with local leaders and businessmen. While delegates are being exposed to various business cultures through first-hand experience and interaction with local entrepreneurs in various countries in Asia, they have also sharpened their networking and management skills, and developed everlasting friendship with like-minded peers.
            </p>

            <p>
              This year, BizAsia will be moving towards a multilateral exchange model and aiming to partner with other universities such as University of Hong Kong and Korea Advanced Institute of Science and Technology (KAIST).
            </p>

            <p>Visit <a href="http://bizasia.nes.org.sg/">bizasia.nes.org.sg</a> for more information</p>
            <iframe width="560" height="315" src="http://www.youtube.com/embed/F2jphQYQ4q8" frameborder="0" allowfullscreen></iframe>

          </div>
          <div class="four columns right">
            <div class="fb-like-box" data-href="http://www.facebook.com/nesbizasia" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div><br/><br/>
              <a href="assets/bizasia1big.jpg"><img src="assets/bizasia1small.jpg" class="image-border"/></a><br/><br/><br/>
              <a href="assets/bizasia2big.jpg"><img src="assets/bizasia2small.jpg" class="image-border"/></a>
          </div>
        </div>
        <br/><br/>
        <div class="row">
          <div class="eight columns">
            <a href="http://www.isage.nes.org.sg"><h4>ISAGE</h4></a>
            <img src="assets/isage.png" class="right"/>
            <p>
              The International Student Alliance for Global Entrepreneurship (ISAGE) was co-founded by the Harvard College Entrepreneurship Forum (HCEF) and the NUS Entrepreneurship Society (NES). Today, ISAGE provides a key platform for networking and entrepreneurial exchange between NUS and universities in the West.
            </p>

            <p>
              In 2008, ISAGE organized the inaugural Harvard – NUS Entrepreneurial Exchange Program (HNEEP), which aimed to provide a good platform for students to share perspectives with top minds about entrepreneurship ecosystems under different cultural, political and economic backgrounds.
            </p>

            <p>
              The exchange program consisted of 2 legs, the outgoing Harvard leg and incoming Singapore leg. In both legs, delegates attended seminars conducted by high-profile speakers such as professors from Harvard Business School and Kennedy school, prestigious entrepreneurs and even the Dean of the NUS Business School. Besides academics, there were also networking sessions as well as company visits to established firms and startups. Moreover, Business Idea Generation sessions held throughout the program allowed delegates to work together, learn from one other and forge lasting friendships for future collaborative studies and entrepreneurial ventures.
            </p>

            <p>
              This year, ISAGE will be moving towards a multilateral exchange model and actively exploring exciting partnerships with universities in Russia, Chile and America.
            </p>

            <p>
              Visit <a href="http://www.isage.nes.org.sg">isage.nes.org.sg</a> for more information.
            </p>

          </div>
          <div class="four columns right">
              <div class="fb-like-box" data-href="http://www.facebook.com/NES.ISAGE" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
          </div>
        </div>
      </div>