<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <hgroup>
        <a href="http://www.isage.nes.org.sg">
          <h1>ISAGE</h1>
        </a>
        <h2 class="sub">Go Global with ISAGE.</h2>
      </hgroup>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <!-- <img src="assets/isage.png" class="right"/> -->
      <p><a href="http://www.isage.nes.org.sg">ISAGE</a> had humble beginnings in 2008 with a single partner. Made possible by a group of passionate youths who wanted to bring their entrepreneurial ideas across borders, the inaugural conference with Harvard was a blazing success. Four years later and still passionate about global entrepreneurship), ISAGE has since improved the quality and scale of its conferences and added many reputable universities worldwide to its partners’ list.</p>

      <p>In 2011 and 2012, ISAGE co-organised the iConnect entrepreneurship congress with BizAsia. iConnect has seen hundreds of brilliant delegates and student leaders from the East and the West congregate in Singapore to experience the business and cultural scenes. In our outgoing trips, ISAGE members have visited Pontifical Catholic University in Chile, European Business School in Germany and Higher School of Economics in Moscow, Russia.</p>

      <p>After a reevaluation of our past achievements and future goals , ISAGE will change the model slightly to align them more closely to its vision and mission, which is to provide a platform for budding entrepreneurs to meet and form lasting friendships, in addition to providing the best resources available in terms of learning and knowledge sharing through the conference. Ambitious to put up a truly revolutionary entrepreneurial gathering for global youths, ISAGE is poised to add more dynamics to the conventional conferences and put in more effort in post-conference alliance with existing and future partner universities.</p>


       <p>ISAGE Trellis marks the start of a whole new phase of ISAGE. It will not only see a thematic system for each day of its conference, but also an underlying theme that takes you through the life of a startup as the conference progresses. It will present an exhilarating panorama view of the business world by smartly-designed industry-specific programmes.This is introduced to add value and cater to a wider range of audiences who have varying degrees of entrepreneurial experience. More excitingly, ISAGE Trellis inspires you to pen down your thoughts in the {entrepreneur diary}, a valuable asset for your future endeavors. ISAGE Trellis will bring together more than 50 youths from all over the world in its largest conference yet. </p>

      <p>Visit our site at <a href="http://www.isage.nes.org.sg">isage.nes.org.sg</a> for more details and check out our Facebook page. Come on board and join the ISAGE family.</p>

      <p>Go Global with ISAGE.</p>

      <div id="isage-fulltitle"><b>I</b>nternational <b>S</b>tudent <b>A</b>lliance for <b>G</b>lobal <b>E</b>ntrepreneurship (ISAGE)</div>
    </div>
    <div class="four columns right">
        <div class="fb-like-box" data-href="http://www.facebook.com/NES.ISAGE" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
    </div>
  </div>
<br/><br/>
</div>