<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <hgroup>
        <a href="http://www.isage.nes.org.sg">
          <h1>ISAGE</h1>
        </a>
      </hgroup>
    </div>
  </div>
  <div class="row">
    <div class="eight columns">
      <!-- <img src="assets/isage.png" class="right"/> -->
      <p>
        <a href="http://www.isage.nes.org.sg">The International Student Alliance for Global Entrepreneurship (ISAGE)</a> was co-founded by the Harvard College Entrepreneurship Forum (HCEF) and the NUS Entrepreneurship Society (NES). Today, ISAGE provides a key platform for networking and entrepreneurial exchange between NUS and universities in the West.
      </p>

      <p>
        In 2008, ISAGE organized the inaugural Harvard – NUS Entrepreneurial Exchange Program (HNEEP), which aimed to provide a good platform for students to share perspectives with top minds about entrepreneurship ecosystems under different cultural, political and economic backgrounds.
      </p>

      <p>
        The exchange program consisted of 2 legs, the outgoing Harvard leg and incoming Singapore leg. In both legs, delegates attended seminars conducted by high-profile speakers such as professors from Harvard Business School and Kennedy school, prestigious entrepreneurs and even the Dean of the NUS Business School. Besides academics, there were also networking sessions as well as company visits to established firms and startups. Moreover, Business Idea Generation sessions held throughout the program allowed delegates to work together, learn from one other and forge lasting friendships for future collaborative studies and entrepreneurial ventures.
      </p>

      <p>
        This year, ISAGE will be moving towards a multilateral exchange model and actively exploring exciting partnerships with universities in Russia, Chile and America.
      </p>

      <p>
        Visit <a href="http://www.isage.nes.org.sg">isage.nes.org.sg</a> for more information.
      </p>

    </div>
    <div class="four columns right">
        <div class="fb-like-box" data-href="http://www.facebook.com/NES.ISAGE" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
    </div>
  </div>

</div>