<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <h2>NES is recruiting!</h2>
      <h4>
        Be a part of one of Singapore's most active entrepreneurship society
      </h4>
      <p>
        Submit your application by <b>2 September 2012</b>
      </p>
      <div>
        <p> <b>Available positions in each department are listed in the documents below:</b> 
          <br/>
          <ul>
            <li>
              <a href="../data/recruitment/CORE Job Descriptions & Openings.pdf">CORE</a>
            </li>
            <li>
              <a href="../data/recruitment/GP Job Descriptions & Openings.pdf">Global Project</a>
            </li>
            <li>
              <a href="../data/recruitment/14th S@S Executive Position Descriptions.pdf">Start-Up@Singapore</a>
            </li>
          </ul>

          <b>Application Instruction:</b><br/><br/>
          <ol>
            <li>
              Send your resume in the format "YOUR FULL NAME_Resume" to tm [at] nes.org.sg
            </li>
            <li>
              Fill in the recruitment form google docs in the <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFJSMzJXWENmVW5hUlpwLXp2UUhsYnc6MQ">following link</a> (please state your full name)
            </li>
            <li>
              The deadline for application is on <b>2 September 2012.</b> We regret that late submissions will not be entertained.
            </li>
          </ol>
        </p>
        <p>Check out the <a href="../faq">FAQ</a> if you are in doubt. Please direct other application-related questions to tm [at] nes.org.sg with an email title "Questions" so we can filter out your mail and reply promptly.


        <img src="../data/recruitment/NESExperience.jpg"/>
    </div>
  </div>
</div>