<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <h2>NES is recruiting!</h2>
      <h4>
        Be a part of one of Singapore's most active entrepreneurship society
      </h4>
      <p>
        Submit your application by <b>24th August 2012</b>
      </p>
      <div>
        <p> <b>Available positions in each department are listed in the documents below:</b> 
          <br/>
          <ul>
            <li>
              <a href="../data/recruitment/CORE Consolidated Job Descriptions.pdf">CORE</a>
            </li>
            <li>
              <a href="../data/recruitment/GP Consolidated Job Description.pdf">Global Project</a>
            </li>
            <li>
              <a href="../data/recruitment/14th S@S Executive Position Descriptions edited.pdf">Start-Up@Singapore</a>
            </li>
          </ul>

          <b>Application Instruction:</b><br/><br/>
          <ol>
            <li>
              Send your resume in the format "YOUR FULL NAME_Resume" to tm [at] nes.org.sg
            </li>
            <li>
              Fill in the recruitment form google docs in the following <a href="https://docs.google.com/spreadsheet/viewform?formkey=dFJSMzJXWENmVW5hUlpwLXp2UUhsYnc6MQ">link</a> (please state your full name)
            </li>
            <li>
              The deadline for application is on <b>24th August 2012, Friday.</b> We regret that late submissions will not be entertained.
            </li>
          </ol>
        </p>
        <img src="../data/recruitment/NESExperience.jpg"/>
    </div>
  </div>
</div>