
        <div class="content-wrapper">
          <hgroup>
            <h1>Start-Up@Singapore</h1>
            <h2>
              Singapore's biggest and most prestigious business plan competition.
            </h2>
          </hgroup>
          <div class="row">
            <div class="eight columns">
              <a href="http://www.startup.org.sg"></a>
              <img src="assets/s@slogo.png" class="right"/>
              <p>
                <a href="http://www.startup.org.sg">Start-Up@Singapore</a> (S@S) is the flagship project of the National University of Singapore (NUS) Entrepreneurship Society and is supported by the NUS Entrepreneurship Centre and NUS Business School Alumni Association.
              </p>

              <p>
                Launched in 1999 and now in its thirteenth year, S@S prides itself as being Singapore’s largest global business-plan competition.It has attracted more than 2000 teams and 7000 participants, both locally as well as from countries such as Australia, Canada, Norway, Pakistan, Russia, Greece, the Philippines and Indonesia. In addition to this, S@S has also spawned more than 70 start-ups, including award-winning businesses like tenCube, FriarTuck,PerceptiveI, World Indigo, PurpleAce and Quantagen. Many of these start-ups have gone on to do extremely well in other national and international business plan competitions.
              </p>

              <p>
                In its formative years, S@S was fashioned solely as a business plan competition. Yet in recent years, it has grown and evolved to become much more than just a contest. S@S today is also a renowned resource hub for entrepreneurship.
              </p>

              <p>
                The main business competition is aptly supported by a awe inspiring structure of networks and capital. Over and above the financial endowments that are awarded to winning business plans, S@S provides current and aspiring entrepreneurs with a staggering repertoire of resources, such as educational seminars, training aids, team building workshops, mentorship opportunities and networking sessions.
              </p>

              <p>
                Backed by an illustrious history and unrivalled expertise in the field of entrepreneurship, S@S is recognized as the largest and most prestigious business plan competition in Singapore today. For more information, visit
                <a href="http://www.startup.org.sg">Start-Up@Singapore's website.</a>
              </p>

            </div>
            <div class="four columns">
              <div class="fb-like-box right" data-href="http://www.facebook.com/startupsg" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
            </div>
          </div>
        </div>