<div class="content-wrapper">
  <hgroup>
    <h1>Start-Up@Singapore</h1>
    <h2>
      Singapore's biggest and most prestigious business plan competition.
    </h2>
  </hgroup>
  <div class="row">
    <div class="eight columns">
      <a href="http://www.startup.org.sg"></a>
      <img src="assets/s@slogo.png" class="right"/>
      <p> <b>Who are we?</b>
        <br/>
        <a href="http://www.startup.org.sg">Start-Up@Singapore</a>
        (S@S) is the flagship project of the National University of Singapore (NUS) Entrepreneurship Society and is supported by the NUS Entrepreneurship Centre and NUS Business School Alumni Association.
      </p>

      <p>
        Launched in 1999 and now in its fourteenth year, S@S prides itself as being Singapore’s largest global business-plan competition. It has attracted more than 2500 teams and 8000 participants, both locally as well as from countries such as Australia, Canada, Norway, Pakistan, Russia, Greece, the Philippines and Indonesia. In addition to this, S@S has also spawned more than 70 start-ups, including award-winning businesses like tenCube, FriarTuck, PerceptiveI, World Indigo, PurpleAce and Quantagen. Many of these start-ups have gone on to do extremely well in other national and international business plan competitions.
      </p>

      <p> <b>What do we do?</b>
        <br/>
        In its formative years, S@S was fashioned solely as a business plan competition. Yet in recent years, it has grown and evolved to become much more than just a contest. S@S today is also a renowned resource hub for entrepreneurship.
      </p>

      <p>
        The main business competition is aptly supported by an awe-inspiring structure of networks and capital. Over and above the financial endowments that are awarded to winning business plans, S@S provides current and aspiring entrepreneurs with a staggering repertoire of resources, such as educational seminars, training aids, team building workshops, mentorship opportunities and networking sessions.
      </p>

      <p>
        Backed by an illustrious history and unrivalled expertise in the field of entrepreneurship, S@S is recognized as the largest and most prestigious business plan competition in Singapore today.
      </p>

      <p>
        <b>Start-Up@Singapore at a glance</b>
        <ul>
          <li>
            2500 teams & 8000 participants over the years from Singapore, the region (India, Thailand, Hong Kong etc.) and beyond (United States, Australia, Norway etc.).
          </li>
          <li>More than 60 start-ups spawned.</li>
          <li>
            500 leading professionals acting as judges, speakers & mentors.
          </li>
          <li>Outreach of over 500,000.</li>
          <li>$86,000 worth of prize money given out last year.</li>
          <li>
            Media coverage by Channel News Asia, Berita Harian, Today, Business Times & more!
          </li>
        </ul>
        <a href="http://www.startup.org.sg">Start-Up@Singapore's website.</a>
      </p>

    </div>
    <div class="four columns">
      <div class="fb-like-box right" data-href="http://www.facebook.com/startupsg" data-width="292" data-show-faces="true" data-stream="true" data-header="false"></div>
    </div>
  </div>
</div>