<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <h2><a href="http://www.wealthexpo.com.sg/">Wealth Expo 2012</a></h2>
      <h3>Purchase Wealth Expo tickets directly from NES and get an exclusive discount of 10%!</h3>
      <div>
        <p>
          <b>Date:</b> 1-2 September 2012<br/><br/>
          <b>How to purchase tickets directly from NES:</b>
          <ol>
            <li><a href="http://www.wealthexpo.com.sg/tickets.html">Click here</a> to find out more about the different ticket classes and their prices
            </li>
            <li>Fill in the <a href="https://docs.google.com/spreadsheet/viewform?formkey=dDU4TFEzWm52YWZLZVlQMVpvemxKSXc6MQ">order</a> form here and we will promptly contact you regarding the payment.</li>
          </ol>
          If purchase is made 2-3 weeks prior to the event, e-ticket will be sent out. If the purchase is made before that period, it will be by post. 

        </p>
        <br/>
        <img src="../data/wealthexpo/poster1.jpg"/>
        <img src="../data/wealthexpo/poster2.jpg"/>
        <img src="../data/wealthexpo/poster3.jpg"/>
        <img src="../data/wealthexpo/poster4.jpg"/>
      </div>
    </div>
  </div>
</div>