<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <h2>NES Welcome Tea</h2>
      <div>
        <p> <b>Event schedule:</b> 
          <br/>
          5pm - Registration<br/>
5.30pm - Opening address by Director, NEC (Prof. Wong/Kau)<br/>
5.40pm - Speech by NES Patron (Elim Chew of 77th Street)<br/>
6.10pm - Speech by NES President (Me)<br/>
6.15pm - Speech by NES VPs (3x)<br/>
7pm onwards - Networking Dinner<br/><br/>

<b>Registration link: </b><a href="http://bit.ly/NW6UzU">http://bit.ly/NW6UzU</a>

        </p>
          <img src="../data/welcometea/poster.jpg"/>
        </div>
      </div>
    </div>
  </div>