<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <img src="data/winterinternship/edm.jpg"/><br />
      <h3>Apply at <a href="http://tinyurl.com/8q4r5fw">http://tinyurl.com/8q4r5fw</a><br />
        Closing date extended to 10 November 2012!
      </h3>
      <h4>Confused? Have a question? Ask our friendly co-ordinator, Hong Liang <a href ="mailto:hongliang@nes.org.sg">hongliang@nes.org.sg</a></h4>
  </div>
</div>
</div>