<div class="content-wrapper">
  <div class="row">
    <div class="twelve columns">
      <iframe src="http://docs.google.com/viewer?url=%20%20http%3A%2F%2Fnes.org.sg%2Fdata%2Fwinterinternship%2Fedm.pdf&embedded=true" width="900" height="780" style="border: none;"></iframe>
    </div>
  </div>
</div>